TELEGRAM_BOT_TOKEN=8610235282:AAEcD5l7STyb_9aP9e0iUCRDNeOsCPKQZuQ
TELEGRAM_CHAT_ID=-1003822822128
AMAZON_API_KEY=your_amazon_api_key_here
AMAZON_SECRET_KEY=your_amazon_secret_key_here
TWILIO_ACCOUNT_SID=your_twilio_account_sid_here
TWILIO_AUTH_TOKEN=your_twilio_auth_token_here